/*Шрифты*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/*Обнуление стилей*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: 0;
	outline: 0;
	font-family: "Montserrat", sans-serif;
}

body {
	&.lock {
		overflow: hidden;
	}
}

/* Повторяющиеся элементы */
.container {
	max-width: 1180px;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 1230px) {
		padding: 0 30px;
	}
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	background-color: #6ebbd3;
	padding: 21px 0;
	transition: background 0.2s;

	&:hover {
		background-color: #528ea0;
	}
}

/* Стилизация разделов*/
.header {
	height: 252px;
	background-image: url("../img/header.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba(31, 32, 33, 0.79);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__body {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
		color: #fff;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 130px;
	}

	&__logo {
		width: 78px;
		height: 78px;
		margin-right: calc(10px + 110 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 425px) {
			width: 50px;
			height: 50px;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		margin-right: auto;

		@media (max-width: 850px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			flex-direction: column;
			align-items: flex-start;
			overflow: auto;
			background-color: #6ebbd3;
			padding: 70px 10px 20px 10px;
			transition: all 0.8s;

			&.active {
				top: 0;
			}
		}
	}

	&__link {
		font-size: 18px;
		color: #fff;
		border-bottom: 1px solid transparent;
		transition: border 0.2s;

		&:nth-child(1) {
			margin-right: 71px;
		}
		&:nth-child(2) {
			margin-right: 57px;
		}
		&:nth-child(3) {
			margin-right: 54px;
		}

		&:hover {
			border-bottom: 1px solid #fff;
		}

		@media (max-width: 850px) {
			display: block;
			font-size: 24px;

			&:nth-child(1) {
				margin: 0 0 30px 0;
			}
			&:nth-child(2) {
				margin: 0 0 30px 0;
			}
			&:nth-child(3) {
				margin: 0 0 30px 0;
			}
		}
	}

	&__nav.active + &__contact {
		display: none;
	}

	&__contact {
		display: flex;
		flex-direction: column;

		@media (max-width: 850px) {
			margin: 0 20px 0 auto;
		}
	}

	&__phone {
		font-weight: 700;
		font-size: calc(14px + 10 * ((100vw - 320px) / (1440 - 320)));
		margin-bottom: 3px;
		color: #fff;
	}

	&__call {
		font-size: calc(14px + 4 * ((100vw - 320px) / (1440 - 320)));
	}

	&__title {
		font-weight: 700;
		font-size: calc(30px + 8 * ((100vw - 320px) / (1440 - 320)));
		margin-top: 10px;
	}

	&__burger {
		display: none;
		cursor: pointer;

		&.active:before {
			transform: rotate(45deg);
			top: 11px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 11px;
		}
		&.active span {
			transform: scale(0);
		}

		@media (max-width: 850px) {
			display: block;
			position: relative;
			height: 25px;
			width: 35px;
			z-index: 4;

			&::before,
			&::after {
				content: "";
				background-color: #fff;
				border-radius: 3px;
				position: absolute;
				width: 100%;
				height: 3px;
				left: 0;
				transition: all 0.5s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			span {
				position: absolute;
				background-color: #fff;
				border-radius: 3px;
				height: 3px;
				width: 100%;
				left: 0;
				top: 11px;
				transition: all 0.5s ease 0s;
			}
		}
	}
}
.main {
	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 37px 0 114px 0;
	}

	&__show {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 380px;
		height: 65px;
		font-size: 14px;
		border: 1px solid #cacaca;
		border-radius: 10px;
		color: #000;
		align-self: center;
		margin-bottom: 83px;
		transition: background 0.2s;

		@media (max-width: 450px) {
			width: 100%;
		}

		&:hover {
			background-color: rgb(238, 238, 238);
		}
	}
}
.sort {
	display: flex;
	flex-wrap: wrap;

	&__title {
		white-space: nowrap;
		font-weight: 700;
		font-size: 18px;
		margin-right: calc(10px + 38 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 450px) {
			width: 100%;
			margin: 0 0 20px 0;
		}
	}

	&__control {
		font-size: 18;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: calc(20px + 35 * ((100vw - 320px) / (1440 - 320)));
		}
	}

	&__arrow {
		width: 15px;
		height: 15px;
		margin-left: 15px;
		transition: transform 0.3s;
	}

	&__control.active &__arrow {
		transform: rotate(-180deg);
	}
}
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 21px;
	grid-row-gap: 27px;
	margin: 38px 0 68px 0;

	@media (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (max-width: 550px) {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
		position: relative;

		@media (max-width: 550px) {
			width: 70%;
		}

		@media (max-width: 500px) {
			width: 100%;
		}

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: 95%;

			/* IE */
			&:nth-child(1) {
				-ms-grid-column: 1;
				-ms-grid-row: 1;
				margin-bottom: 27px;
			}
			&:nth-child(2) {
				-ms-grid-column: 2;
				-ms-grid-row: 1;
				margin-bottom: 27px;
				justify-self: center;
			}
			&:nth-child(3) {
				-ms-grid-column: 3;
				-ms-grid-row: 1;
				margin-bottom: 27px;
				justify-self: end;
			}
			&:nth-child(4) {
				-ms-grid-column: 1;
				-ms-grid-row: 2;
			}
			&:nth-child(5) {
				-ms-grid-column: 2;
				-ms-grid-row: 2;
				justify-self: center;
			}
			&:nth-child(6) {
				-ms-grid-column: 3;
				-ms-grid-row: 2;
				justify-self: end;
			}

			@media (max-width: 800px) {
				&:nth-child(1) {
					-ms-grid-column: 1;
					-ms-grid-row: 1;
				}
				&:nth-child(2) {
					-ms-grid-column: 2;
					-ms-grid-row: 1;
					justify-self: end;
				}
				&:nth-child(3) {
					-ms-grid-column: 1;
					-ms-grid-row: 2;
					justify-self: start;
				}
				&:nth-child(4) {
					-ms-grid-column: 2;
					-ms-grid-row: 2;
					margin-bottom: 27px;
					justify-self: end;
				}
				&:nth-child(5) {
					-ms-grid-column: 1;
					-ms-grid-row: 3;
					justify-self: start;
				}
				&:nth-child(6) {
					-ms-grid-column: 2;
					-ms-grid-row: 3;
					justify-self: end;
				}
			}

			@media (max-width: 550px) {
				width: 100%;

				&:nth-child(1) {
					-ms-grid-column: 1;
					-ms-grid-row: 1;
				}
				&:nth-child(2) {
					-ms-grid-column: 1;
					-ms-grid-row: 2;
				}
				&:nth-child(3) {
					-ms-grid-column: 1;
					-ms-grid-row: 3;
				}
				&:nth-child(4) {
					-ms-grid-column: 1;
					-ms-grid-row: 4;
				}
				&:nth-child(5) {
					-ms-grid-column: 1;
					-ms-grid-row: 5;
					margin-bottom: 27px;
				}
				&:nth-child(6) {
					-ms-grid-column: 1;
					-ms-grid-row: 6;
				}
			}
		}
		/* / IE */
	}

	&__wrap {
		background-color: #f3f3f3;
		padding: 29px;

		@media (max-width: 970px) {
			padding: 10px;
		}

		@media (max-width: 800px) {
			padding: 20px;
		}
	}

	&__discount {
		position: absolute;
		top: 34px;
		left: 38px;
		padding: 10px 19px;
		background-color: #e52d2d;
		color: #fff;
		border-radius: 10px;
		opacity: 0;
		visibility: hidden;

		@media (max-width: 1100px) {
			padding: 7px 11px;
			top: 24px;
			left: 28px;
		}
	}

	&__item.sale &__discount {
		opacity: 1;
		visibility: visible;
	}

	&__fav {
		position: absolute;
		top: 34px;
		right: 32px;
		width: 46px;
		height: 46px;
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.2s;

		@media (max-width: 1100px) {
			width: 36px;
			height: 36px;
			top: 24px;
			right: 22px;
		}

		&.active {
			opacity: 1;
		}
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__title {
		font-weight: 700;
		font-size: calc(15px + 9 * ((100vw - 320px) / (1440 - 320)));
	}

	&__charact {
		display: flex;
		justify-content: space-between;
		margin: 22px 0;
	}

	&__color {
		width: calc(80px + 30 * ((100vw - 320px) / (1440 - 320)));
		font-size: calc(9px + 2 * ((100vw - 320px) / (1440 - 320)));
		position: relative;
		padding-left: 22px;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			@media (max-width: 550px){
				font-size: 12px;
			}
			@media (max-width: 375px){
				font-size: 10px;
			}	
		}

		&::before {
			content: "";
			width: 4px;
			height: 26px;
			background-color: #6ebbd3;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__age {
		font-size: calc(9px + 2 * ((100vw - 320px) / (1440 - 320)));
		margin: 0 45px 0 20px;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			@media (max-width: 550px){
				font-size: 12px;
			}
			@media (max-width: 375px){
				font-size: 10px;
			}
		}

		@media (max-width: 1120px) {
			margin: 0 5px;
		}

		span {
			display: block;
			font-size: calc(12px + 4 * ((100vw - 320px) / (1440 - 320)));
			font-weight: 700;
		}
	}

	&__paws {
		font-size: calc(9px + 2 * ((100vw - 320px) / (1440 - 320)));

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			@media (max-width: 550px){
				font-size: 12px;
			}
			@media (max-width: 375px){
				font-size: 10px;
			}
		}

		span {
			display: block;
			font-size: 16px;
			font-weight: 700;
		}
	}

	&__price {
		font-weight: 700;
		font-size: calc(15px + 9 * ((100vw - 320px) / (1440 - 320)));
	}

	&__button {
		width: 100%;

		&.sold {
			background-color: #1f2021;
			cursor: default;
		}
	}
}
.subscribe {
	display: flex;
	background-color: #1f2021;
	padding: 92px 80px;
	margin-bottom: 114px;
	color: #fff;

	@media (max-width: 1230px) {
		padding: 92px 30px;
	}

	@media (max-width: 1100px) {
		flex-direction: column;
	}

	&__title-block {
		margin-right: 54px;

		@media (max-width: 1100px) {
			margin: 0 0 40px 0;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 48px;
		margin-bottom: 26px;

		@media (max-width: 690px) {
			font-size: 38px;
		}
	}

	&__subtitle {
		width: 400px;
		font-size: 28px;
		line-height: 91%;

		@media (max-width: 1100px) {
			width: auto;
		}

		@media (max-width: 690px) {
			font-size: 18px;
		}
	}

	&__form {
		display: flex;
		flex-wrap: wrap;
		max-width: 566px;
	}

	&__email {
		width: 300px;
		height: 65px;
		padding: 0 33px;
		margin-right: 16px;
		background-color: #fff;
		border-radius: 10px;

		&::placeholder {
			font-size: 14px;
			color: #000;
		}

		&:focus {
			box-shadow: 0 0 10px rgb(100, 100, 100);
		}

		@media (max-width: 690px) {
			width: 100%;
			margin: 0 0 10px 0;
		}
	}

	&__button {
		width: 250px;
		height: 65px;
		border-radius: 10px;
		font-size: 14px;

		&:focus {
			box-shadow: 0 0 10px #00526b;
		}

		@media (max-width: 1230px) {
			width: 200px;
		}

		@media (max-width: 1100px) {
			width: 250px;
		}

		@media (max-width: 690px) {
			width: 100%;
		}
	}
}
.check {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 14px;
	cursor: pointer;

	@media (max-width: 1100px) {
		margin: 24px 0 0 0;
	}

	&__input {
		width: 0px;
		height: 0px;
	}

	&__fake {
		width: 18px;
		height: 18px;
		background-color: #6ebbd3;
		border-radius: 3px;
		position: relative;
		z-index: 1;
		margin-right: 18px;
	}

	&__input:checked + &__fake {
		&::before {
			content: "";
			width: 10px;
			height: 10px;
			position: absolute;
			top: 4px;
			left: 4px;
			background-image: url("../img/check-mark.svg");
		}
	}

	&__input:focus + &__fake {
		box-shadow: 0 0 10px #00526b;
	}
}
.scroll-up {
	width: 59px;
	height: 59px;
	background-color: #6ebbd3;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 0;
	bottom: -60px;
	cursor: pointer;
	box-shadow: 0 0 1px #0c3f4e; /* для того, чтобы кнопка "наверх" не сливась с кнопками карточек */
	transition: bottom 0.3s;

	img {
		width: 18px;
		height: 18px;
	}
}
.favourites-popup {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	padding: 5px 40px 5px 15px;
	transition: opacity 0.3s;
	opacity: 0;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		transition: opacity 0s;
	}

	&.active {
		opacity: 1;
		animation: opacity 2s 1 normal forwards;
	}

	@keyframes opacity {
		0% {
			opacity: 1;
		}
		95% {
			opacity: 0.7;
		}
		100% {
			opacity: 0;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 15px;
		height: 15px;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			right: 0;
			width: 100%;
			height: 1px;
			background-color: #fff;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			position: absolute;
			top: 5px;
			right: 0;
			width: 100%;
			height: 1px;
			background-color: #fff;
			transform: rotate(-45deg);
		}
	}

	&__text {
		font-size: 18px;
		color: #fff;
	}
}
